<!DOCTYPE html>
<html>

<head>
    <title>Site Under Maintainence</title>
    <link rel="stylesheet" type="text/css" href="./index.css">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" charset="utf-8">
</head>

<body>
   <h1>We will be right back</h1>

   <p>This site is under maintainence !</p>

</body>

</html>